body{
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  background-image: url(../images/seamless_paper_texture.png);
  font-size: 18px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  background: #ffffff;
  border-bottom: 5px solid #cccccc;
  margin-bottom: 50px;
  /* position: fixed; */
  width: 100%;
}

p{
  margin-bottom: 20px;
}

nav{
  float: right;
  margin-top: 25px;
}

.navigation{
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 2px solid #cccccc;
}
#about{
  border:none;
}

/*Navigation Bar*/
.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
/* Name Box */
#name{
  background:#4aaaa5;
  color: #ffffff;
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  float: left;
  width: 250px;
  height: 90px;
  font-weight: bold;
  line-height: 90px;
}  


#pageContent{
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  max-width: 960px;
  clear: both;
  padding: 20px;
  margin-bottom: 50px;
}

#title{
  margin-bottom: 20px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  border-bottom: 2px solid #cccccc;
  font-size: 30px;
  padding-bottom: 10px;
}

/* About me Image */
#image{
  float: left;
  margin-right: 20px;
}


/* Contact Form */
#contactForm{
  padding: 20px;
  font-size: 18px;
  line-height: 50%;
}

input{
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;

}

#contactSubmit{
  background-color:#4aaaa5;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}

/* Portfolio Image Gallery */
.galleryCard {
  position: relative;
  width: 250px;
  border: 1px solid #ccc;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.desc {
  position: absolute;
  left: 0;
  top: 66%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background-color: #4aaaa5;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardPic { 
  width: 100%;
  height: auto;
}

/* Spacer */
.spacer {
  flex: 1;
}
/* footer */
footer{
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
}

@media screen and (max-width: 980px) {
  #pageContent{
   width:66%;
  }
  .galleryCard{
    width: 40%;
  }
 }
 @media screen and (max-width: 768px) {
   #contact{
     margin-right: 20px;
   }
   #pageContent{
     max-width: 768px;
     width: 90%;
   }
   #image{
     width:40%;
   }
 
 }
 @media screen and (max-width: 640px) {
  header {
      position: static;
  }
  #image{
    width:100%;
  }
  #name{
    clear:both;
    width:100%;
  }
  nav{
    float:none;
    clear:both;
    text-align: center;
  }
  .navigation {
    width:25%;
  }
  .galleryCard{
    width: 100%;
  }
}