body{
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  background-image: url(../images/seamless_paper_texture.png);
  font-size: 18px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  background: #ffffff;
  border-bottom: 5px solid #cccccc;
  margin-bottom: 50px;
  /* position: fixed; */
  width: 100%;
}

p{
  margin-bottom: 20px;
}

nav{
  float: right;
  margin-top: 25px;
}

nav a{
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
}

/*Navigation Bar*/
.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
/* Name Box */
#name{
  background:#4aaaa5;
  color: #ffffff;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  float: left;
  width: 250px;
  height: 90px;
  font-weight: bold;
  line-height: 90px;
}  

/* About Me Content */
#pageContent{
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  padding: 20px;
}

/* Content Title */
#title{
  margin: 20px;
  margin-bottom: 20px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  border-bottom: 2px solid #cccccc;
  font-size: 28px;
}
/* About Me Image */
#image{
  float: left;
  margin-right: 20px;
}

/* Contact Content Body */
#contactForm{
  padding: 20px;
  font-size: 18px;
  line-height: 50%;
}
/* Name & Email boxes */
input{
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
/* Message Box */
textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;

}
/* Submit Button */
#contactSubmit{
  background-color:#4aaaa5;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}
/* Image float  */
#ericSmirk{
  float: left;
  margin-right: 20px;
}

/* Portfolio Image Gallery */
.galleryCard {
  position: relative;
  width: 250px;
  border: 1px solid #ccc;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.desc {
  position: absolute;
  left: 0;
  top: 66%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background-color: #4aaaa5;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardPic { 
  width: 100%;
  height: auto;
}

/* Spacer */
.spacer {
  flex: 1;
}
/* footer */
footer{
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
}
